<a href="{{ url }}" target="_blank">
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="https://www.savoir-inutile.com/img/dog.png" style="height:48px;" />
          </figure>
        </div>

        <div class="media-content card-head">
          <p class="title is-5">Perdu</p>
          <p class="subtitle is-6">www.savoir-inutile.com</p>
        </div>
      </div>
      <div class="content">
        “{{ content }}”
      </div>
    </div>
  </div>
</a>
