<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="http://bulma.io">
      <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
    </a>

    <!-- Mobile prompt -->
    <a class="navbar-item is-hidden-desktop" href="url:aboutme" target="_blank">
      <span class="icon">
        <i class="fa fa-user"></i>
      </span>
    </a>
    <a class="navbar-item is-hidden-desktop" href="url:projects" target="_blank">
      <span class="icon">
        <i class="fa fa-book"></i>
      </span>
    </a>
    <a class="navbar-item is-hidden-desktop" href="url:github" target="_blank">
      <span class="icon">
        <i class="fa fa-github"></i>
      </span>
    </a>
  </div>

  <!-- Desktop prompt -->
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="url:mainpage">
        Accueil
      </a>
      <a class="navbar-item" href="url:aboutme">
        Présentation
      </a>
      <a class="navbar-item is-active" href="url:projects">
        Projets
      </a>
    </div>
    <div class="navbar-end">
      <a class="navbar-item" href="url:github" target="_blank">
        Github
      </a>
      <a class="navbar-item" href="url:contact">
        Contact
      </a>
    </div>
  </div>
</nav>
