{% comment %}
# Main page to display an article.
# Variable that are used :
#  - title
{% endcomment %}

{% load static %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/{{bulma_version}}/css/bulma.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/{{fo_version}}/css/font-awesome.min.css">
        <link rel="stylesheet" href={% static "css/syntax.css" %}>
        <link rel="stylesheet" href={% static "css/article.css" %}>

        <link rel="icon" type="image/png" href="{% static "img/logo/black.png" %}">
        <title>{{ title }}</title>
    </head>

    <body class="page-components">
      <div class="container">
        {{ navbar }}
      </div>

    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            {{ title }}
          </h1>
          <h2 class="subtitle">
            {{ description }}
          </h2>
        </div>
      </div>
    </section>

      <!-- Main content -->
      <section class="section">
        <div class="container">
          <div class="columns">
            <!-- Content of the article -->
            <div class="column content">
              {% autoescape off %}
                {{ html }}
              {% endautoescape %}
            </div>

            <div class="column is-one-third">
              {% for card in card_list %}
                {{ card }}
              {% endfor %}

              <div class="columns">
                <div class="column">
                  <div class="content is-small">
                    <h2>À propos</h2>
                    <p>Article rédigé par Rémi Dupré le {{ date }}.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      {{ footer }}

    </body>
</html>
