{% comment %}
# Main page to display an article.
# Variable that are used :
#  - title
{% endcomment %}

{% load static %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.3/css/bulma.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href={% static "css/syntax.css" %}>

        <link rel="icon" type="image/png" href="imgs/icon.png">
        <title>{{ title }}</title>
    </head>

    <body class="page-components">
      <div class="container">
        {{ navbar }}
      </div>

    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            {{ title }}
          </h1>
          <h2 class="subtitle">
            {{ description }}
          </h2>
        </div>
      </div>
    </section>

      <!-- Main content -->
      <section class="section">
        <div class="container">
          <div class="columns">
            <!-- Content of the article -->
            <div class="column content">
              {% autoescape off %}
                {{ html }}
              {% endautoescape %}
            </div>

            <div class="column is-one-third">
              <!-- PDF pannel -->
              <div class="columns">
                <div class="column">
                  <div class="card">
                    <div class="card-content">
                      <div class="media">
                        <div class="media-left">
                          <figure class="image is-48x48">
                            <i class="fa fa-file-pdf-o" aria-hidden="true" style="font-size: 3em;"></i>
                          </figure>
                        </div>
                        <a href="">
                          <div class="media-content">
                            <p class="title is-4">Nom du rapport</p>
                            <p class="subtitle is-6">Télécharger le pdf</p>
                          </div>
                        </a>
                      </div>
                      <div class="content">
                        Une petite description. Typiquement ici pour un rapport de TIPE.
                        <br>
                        <small>42 juillet 1996</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Github pannel -->
              <div class="columns">
                <div class="column">
                  <div class="card">
                    <div class="card-content">
                      <div class="media">
                        <div class="media-left">
                          <figure class="image is-48x48">
                            <i class="fa fa-github" aria-hidden="true" style="font-size: 3em;"></i>
                          </figure>
                        </div>
                        <a href="">
                          <div class="media-content">
                            <p class="title is-4">Github</p>
                            <p class="subtitle is-6">nom-du-dépot</p>
                          </div>
                        </a>
                      </div>
                      <div class="content">
                        Description du projet de github. Blabla ... La vie ... Blabla ... La vie ... Blabla ... La vie ... Blabla ... La vie ...
                        <br>
                        <small>Quelques stats du dépots (last commit ?)</small>
                      </div>
                    </div>
                    <footer class="card-footer">
                      <a class="card-footer-item">
                          <span class="icon is-small">
                            <i class="fa fa-file-code-o"></i>
                          </span>
                          <div style="margin:5px"></div>
                          <span>Source</span>
                      </a>
                      <a class="card-footer-item">
                          <span class="icon is-small">
                            <i class="fa fa-file-archive-o"></i>
                          </span>
                          <div style="margin:5px"></div>
                          <span>Release</span></a>
                    </footer>
                  </div>
                </div>
              </div>

              <!-- Useless pannel -->
              <div class="columns">
                <div class="column">
                  <div class="card">
                    <div class="card-content">
                      <div class="media">
                        <div class="media-left">
                          <figure class="image is-48x48">
                            <img src="https://www.savoir-inutile.com/img/dog.png" style="height:48px;" />
                          </figure>
                        </div>
                        <a href="">
                          <div class="media-content">
                            <p class="title is-4">Perdu</p>
                            <p class="subtitle is-6">www.savoir-inutile.com</p>
                          </div>
                        </a>
                      </div>
                      <div class="content">
                        “La "Stochocratie" (ou "Lotocratie"), est un terme désignant une pratique qui consiste à tirer au sort les gouvernants au niveau national ou local.”
                        <br />
                        <small>source</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="columns">
                <div class="column">
                  <div class="content is-small">
                    <h2>À propos</h2>
                    <p>Article rédigé par Rémi Dupré le 42/42/42.</p>
                    <p>Pourquoi pas quelques infos techniques ? Refiler des sources markdown si c'est comme ca que ca a été créé.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </body>
</html>
