/** Custom style relating to articles */

.card {
    display: block;
    margin-bottom: 15px;
}

.card:hover {
    transition-property: margin-left;
    margin-left: -5px;
    transition-duration: 0.2s;
}

.card .card-head {
    min-width: 0px;  /* Permits nonwrap in flexbox */
}

.card .title {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
}

.card small {
    color: grey;
    font-size: 0.7em;
}

.img-container {
    text-align: center;
}

.img-container img {
    width: 30%;
}
