/** Custom style relating to articles */

/* Dealing with cards */

.card {
    display: block;
    margin-bottom: 15px;
}

.card:hover {
    transition-property: margin-left;
    margin-left: -5px;
    transition-duration: 0.2s;
}

.card .card-head {
    min-width: 0px;  /* Permits nonwrap in flexbox */
}

.card .title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card small {
    color: grey;
    font-size: 0.7em;
}

/* Integration of images inside article */

.img-container {
    text-align: center;
}

.img-container img {
    width: 30%;
}

/* Table of content's style */

#tableofcontents hr {
    margin: 5px 0px 8px 0px;
}

#tableofcontents ul {
    margin: 0px;
}

#tableofcontents li {
    margin: 0px;
    list-style-type: none;
}

#tableofcontents li a {
    display: inline-block;
}

#tableofcontents .h2 {
    font-size: 16px;
    margin-top: 6px
}

#tableofcontents .h3 {
    font-size: 12px;
    margin-left: 8px;
    margin-top: 0px;
}
